@import "../../app.scss";

.post {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");

        .container {
            padding: 1rem;

            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .userInfo {
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    img {
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-weight: 500;
                        }

                        .date {
                            font-size: .7rem;
                        }
                    }
                }
            }

            .content {
                margin: 1rem 0;

                p {
                    font-size: 1.1rem;
                    font-weight: 300;
                }

                img {
                    width: 100%;
                    max-height: 500px;
                    object-fit: cover;
                    margin-top: 1rem;
                }
            }

            .info {
                display: flex;
                align-items: center;
                gap: 1rem;

                .item {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    cursor: pointer;
                    font-size: .8rem;
                }
            }
        }
    }
}